
#logo {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    border: 3px solid rgb(232, 232, 232);
    font-weight: 400;
    font-size: 140%;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    text-align: center;
    color: rgb(52, 52, 52);
}

@media screen and (min-width: 600px) {
    #logo {
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
    }
}

#post-list {
    min-height: 50vh;
    margin-bottom: 20px;
}

#post {
    min-height: 50vh;
    margin-bottom: 20px;
}

.post-link {
    margin-top: 15px;
    display: block;
}

.post-subtitle {
    font-size: 95%;
    color: rgb(73, 73, 73);
}

#footer {
    font-size: 90%;
    text-align: center;
    color:rgb(79, 79, 79);
}
